/*------------NAVBAR-------------------*/
.navBody{
  background: #607d8b;
  padding: 0px 16px;
  height: 62px;
}

.navBrand{
  padding:16px;
}

.navOptions{
  height: 100%;
}

.navLogout{
  color:#FFF;
  height: 100%;
}

.navLi{
  height: 100%;
  padding:0 0;
}


.navLi:hover{
  background:#485e68;
}

.navLi .active{
  background:#485e68;
}

.navLinkText{
  color:#FFF !important;
  cursor: pointer;
}

.

/*------------MODAL--------------------*/

.jModal{
  position: fixed;
  width: 90%;
  top: 5%;
  left: 5%;
  right: 5%;
  z-index: 1000;
}

.jLogin{

  width: 350px;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}


@media only screen and (min-width: 768px) {
    .jModal{
      width: 50%;
      left: 25%;
      right: 25%;
    }
}



/*Transition for the bodal background*/
.modalBackground-enter {
  opacity: 0;

}

/* end enter state */
.modalBackground-enter.modalBackground-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/* start leave state */
.modalBackground-leave {
  opacity: 1;
}

/* end leave state */
.modalBackground-leave.modalBackground-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}


/*Transition for the modal window*/
.modal-enter {
  transform: translateY(-100%);

}

/* end enter state */
.modal-enter.modal-enter-active {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

/* start leave state */
.modal-leave {
  transform: translateY(0);
}

/* end leave state */
.modal-leave.modal-leave-active {
  transform: translateY(-150%);
  transition: transform 0.5s ease-out;
}
