.App{
  margin-top:66px;
}

/* start enter state */
.modal-enter {
  transform: translateX(-100%);
}

/* end enter state */
.modal-enter.modal-enter-active {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}

/* start leave state */
.modal-leave {
 transform: translateX(0);
}

/* end leave state */
.modal-leave.modal-leave-active {
  transform: translateX(100%);
  opacity: 0;
  transition: 0.5s ease-in;
}
